* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
                                                
}
.container {
    max-width: 1226;
    margin: 0 auto;
}


.flex {
    display: flex;
}

.center-item {
    align-items: center;
}

/*header style */
.ham-menue {
    display: none;
}

 header  div{
    justify-content: space-between ;
 }
 nav {
    display: block;
 }

 nav ul  {
    list-style: none;
    gap: 32px;
 }
 ul li a {
    text-decoration: none;
    color:  #606060;
    font-size: 20px;
    padding: 10px;

 }
 ul li a:hover {
    border-bottom: 2px solid #1D91CC;
    color: #1D91CC;
 }
 .support {
    gap: 16px;
 }
 .call {
    gap: 16px;
    display: block;
 }
 .login {
    color: white;
    background-color:#1D91CC;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    gap: 8px;
    /* width: 134px; */
    height: 40px;
    font-weight: 500;
    font-family: "Vazirmatn", sans-serif;
 }

 .gray-user{
    display: none;
}


 /* main */


 .banner {
    background-image: url(./assets/home\ page\ piccccc.png);
    background-repeat: no-repeat;
    background-size: cover;
 }








 @media(max-width:390px){

    header {
        height: 64px;
        padding: 8px 16px;
    }


    nav {
        display: none;
    }
    
    button span {
        display: none;
    }
    
    .call {
        display: none;
    }
    .ham-menue {
        display: block;
    }
    .gray-user{
        display: block;
    }
    .login {
        display: none;
    }
    .logo {
        width: 96px;
        height: 32px;
    }



 }