* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Vazirmatn", sans-serif;
}
body {
    
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
                                                
}
.container {
    max-width: 1226px;
    margin: 0 auto;
}


.flex {
    display: flex;
}

.center-item {
    align-items: center;
}

/*header style */
.ham-menue {
    display: none;
}

 header  div{
    justify-content: space-between ;
 }
 nav {
    display: block;
 }

 nav ul  {
    list-style: none;
    gap: 32px;
 }
 ul li a {
    text-decoration: none;
    color:  #606060;
    font-size: 20px;
    padding: 10px;

 }
 ul li a:hover {
    border-bottom: 2px solid #1D91CC;
    color: #1D91CC;
 }
 .support {
    gap: 16px;
 }
 .call {
    gap: 16px;
    display: block;
 }
 .login {
    color: white;
    background-color:#1D91CC;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    gap: 8px;
    /* width: 134px; */
    height: 40px;
    font-weight: 500;
    font-family: "Vazirmatn", sans-serif;
 }

 .gray-user{
    display: none;
}
.banner {
    background-image: url(./assets/home\ page\ piccccc.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 340px;
 }


 /* main */
 main {
    height: 100vh;
    position: relative;
 }
 .main-container {
    position: absolute;
    top: 170px;
 }

 .travel-info {
    height: 191px;
    position: absolute;
    background-color: white;
    width: 100%;
    top: -70px;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    padding: 24px;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 8px 16px 0px #00000014;
    box-shadow: 0px 0px 4px 0px #0000000A;


 }
 .buttons button {
    width: 98px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #1D91CC ;
    font-size: 12px;
 }
 .select-btn {
    background-color: #1D91CC;
    color: #fff;
 }
 .detail {
    flex-direction: row;
    gap: 10px;
 }

 .same-style {
    border-radius: 8px;
    width: 180px;
    height: 48px;
    border: 1px solid #DFDFDF;
    padding: 5px 10px;
   
        
 }
 .search {
    gap: 8px;
    justify-content: center;
 }
 .collection {
   
    gap: 24px;

 }
 .horizental {
    gap: 24px;
    

 }
 .vertical{
    gap: 24px;
    flex-direction: column;
    /* justify-content: space-evenly; */
 }
 .other-services {
    background-color: #E8F4FA;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 15px 0;
    

 }
 .other-services a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 700;
 }
 .content {
    justify-content: space-between;
    padding: 20px 0 ;
 }
 .social-media {
    gap: 15px;

 }
 .social-media a{
    background-color: #11577A;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    height: 66px;
 }

 .app-name {
    gap: 10px;
 }
 .app-name span {
    font-weight: 700;
    font-size:20px ;
    color: #404040;
 }
 .app-name p {
    color: #606060;
 }


 








 @media(max-width:390px){

    header {
        height: 64px;
        padding: 8px 16px;
    }


    nav {
        display: none;
    }
    
    button span {
        display: none;
    }
    
    .call {
        display: none;
    }
    .ham-menue {
        display: block;
    }
    .gray-user{
        display: block;
    }
    .login {
        display: none;
    }
    .logo {
        width: 96px;
        height: 32px;
    }

    /* main*/

    .banner {
        background-image: url(./assets/home\ page\ screen.png);
        height: 140px;
    }



 }